.sidebar {
  display: none; 
  position: fixed; 
  left: 0; 
  height: 100%; 
  width: 256px; 
  background-color: #1A2235;
  border-right: 1px solid #2A3446;
  flex-direction: column;
  z-index: 100; 
}
.sidebar-header {
  padding: 1.5rem;
  border-bottom: 1px solid #2A3446;
  display: flex;  
  align-items: center;
  gap: 0.2rem;
  height: 72px;
}
.sidebar-header h1 {
  font-size: 1.25rem;
  white-space: nowrap;
  overflow: hidden;
}
.sidebar-nav {
  padding: 1rem;
}

.sidebar-tab {
  width: 100%; 
  display: flex; 
  align-items: center;
  gap: 0.75rem; 
  padding: 0.75rem 1rem; 
  border-radius: 0.5rem;
  margin-bottom: 0.6rem; 
  border: none; 
  background-color: transparent;
  color: #9CA3AF;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none; 
}

.sidebar-tab:hover {
  background-color: #12182B;
  color: #F0F0F0
}

.sidebar-tab.active {
  background-color: #FF4D4D;
  color: #F0F0F0
}
.sidebar-tab .img {
  width: 20px;
  height: 20px;
}

.sidebar {
  transition: width 0.3s ease;
}
body {
  transition: padding-left 0.3s ease; 
}
.sidebar.collapsed {
  width: 88px; 
}
.sidebar.collapsed .sidebar-header {
  justify-content: center;
}
.sidebar.collapsed .sidebar-title {
  display: none; 
}
.sidebar.collapsed .sidebar-tab span {
  display: none; 
}
.sidebar.collapsed .sidebar-tab {
  justify-content: center; 
}
.sidebar-tab .icon,
.sidebar-tab img {
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .sidebar {
    display: flex; 
  }

  body.sidebar-collapsed {
    padding-left: 88px; 
  }
}
